@import url("./base.css");

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* #app {
    display: block;
    position: relative;
    margin: auto;
    padding: auto;
} */